body {
    color:white;
    text-decoration: none;
}
h1 {
    font-family: monospace;
    color:white;
}
#list-header {
    width: 50%;
    position: fixed;
    left: 25%;
    top: 1%;
}
nav > a > i {
    padding: 10px;
}
.demo-layout-transparent {
    background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
/* This background is dark, so we set text to white. Use 87% black instead if
your background is light. */
    color: white;
}
.logo_main {
    width: 25%;
    }


@media screen and (min-width: 961px) {
    /* Desktop layout stuff*/
    .logo_main {
    width: 25%;
    }
    
    .logo_navigation {
    display: none;
    }
    
    .span-drawer-button_back {
        display: none
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    /* Tablet layout stuff*/
    .logo_main {
    width: 50%;
    }
    
    .logo_navigation {
    display: none;
    }
    
    .span-drawer-button_back {
        display: none
    }
}

@media screen and (max-width: 500px) {
    /* Mobile layout stuff*/
    .logo_main {
    width: 100%;
    }
}