body {
    color:white;
    text-decoration: none;
}
h1 {
    font-family: monospace;
    color:white;
}
#list-header {
    width: 50%;
    position: fixed;
    left: 25%;
    top: 1%;
}
nav > a > i {
    padding: 10px;
}
.demo-layout-transparent {
    background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
/* This background is dark, so we set text to white. Use 87% black instead if
your background is light. */
    color: white;
}